
<h1>Test RXJS Operators</h1>

<button class="btn btn-primary d-block" (click)="distinctOperator()">distinct</button>
<button class="btn btn-primary d-block" (click)="distinctUntilChanged()">distinctUntilChanged until chnaged</button>

<button class="btn btn-primary d-block" (click)="filterOperator()">Filter</button>

<button class="btn btn-primary d-block" (click)="ajaxOperator()">ajax</button>

<button class="btn btn-primary d-block" (click)="MergeMapOpr()">MergeMap</button>
<button class="btn btn-primary d-block" (click)="ConcatMapOpr()">ConcatMap</button>

<button class="btn btn-primary d-block" (click)="ExhaustMap()">ExhaustMap</button>
<button class="btn btn-primary d-block" (click)="SwitchMap()">SwitchMap</button>

<button class="btn btn-primary d-block" (click)="Concat()">Concat</button>

<button class="btn btn-primary d-block" (click)="Partition()">Partition</button>






<!-- <ng-content select="p"></ng-content> -->