<h1>just</h1>
<a href="#" id='a-id'> click here</a>
<app-new-observable></app-new-observable>
<!-- <div>
<ng-content select="selector"></ng-content>
</div> -->
<app-operators-list>
<!-- <p>bla lala</p>
<ng-template *ngTemplateOutlet="outlet"></ng-template>
<ng-container *ngTemplateOutlet="outlet"></ng-container>

<p>this is a dummy content</p>
<p>{{arrObj[0].number}}</p> -->

</app-operators-list>

<app-subjects></app-subjects>

<!-- <ng-template *ngTemplateOutlet="outlet"></ng-template>
<ng-template *ngTemplateOutlet="outlet"></ng-template>
<ng-template *ngTemplateOutlet="outlet"></ng-template>
<ng-template *ngTemplateOutlet="outlet"></ng-template>
<ng-template *ngTemplateOutlet="outlet1" #outlet2></ng-template>
------------------------------------------
<ng-container *ngTemplateOutlet="outlet"></ng-container>

<ng-container *ngTemplateOutlet="outlet1" ></ng-container>


<button (click)="some()">\</button>

<ng-template #outlet1 class="stupid">

 <div>
    <p>  akjfhkjahfaehfiaefhoaeihfoahfoahfoahfoaidhfoifhdoiahf</p>
 </div>

</ng-template> -->


